<html>
<head>



	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>Home</title>
		<link href="/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<link href="/css/hcilist.css" rel="stylesheet">
</head>

<body background="https://s-media-cache-ak0.pinimg.com/564x/8a/c5/f3/8ac5f3ea403e5eaab530a41ab35b832c.jpg">
		<div class="app">

			{{> navbar}}

<div class = "topmeh">
	<!-- <h2>Today is </h2> -->
	<h3 id="demo"></h3>
	<script>
	var d= new Date();
	document.getElementById("demo").innerHTML = d.toDateString();
	</script>
	<h3>Last weeks memory is:</h3>
	</div>
    <div class="screen2">
			<div class="top-container">

	<div class="textbox" id="one-card">
    <h3 class="textbox-date" id="one-date">Fri Feb 24 2017</h3>
    <h4 class="textbox-title">What are a couple of things you are grateful for today? </h4>
	<p class="textbox-content"> 1. Great coffee 2.It's almost the weekend! 3. The weather is getting better!</p>
	<h4 class="textbox-title">Your mood was</h4>
    <i class="em em-smile textbox-content"></i>
	<h4 class="textbox-title">The weather was</h4>
    <i class="em em-sunny"></i>
    </div></div>



	<div class="app">
	<div class="top-container">
	<div>
	<h3 id="demo"></h3>
	</div>
	<script>
	var d= new Date();
	document.getElementById("demo").innerHTML = d.toDateString();
	</script>
	<div>
	</div>
	<a href="/list" id="start">Start Today</a>
	</div>
	<h3 class="heading" id="index-heading">Your Recollections</h3>

<!-- EXAMPLE -->
<!-- EXAMPLE -->
<!-- EXAMPLE -
	<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">{{lists.1.title}}</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum </div>
    </div>
  </div>
</div>
EXAMPLE -->
<!-- EXAMPLE -->
<!-- EXAMPLE -->

<div class="panel-group top" id="accordion">
	{{#each lists}}
		<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}">
	        {{date}}</a>
	      </h4>
	    </div>
	    <div id="collapse{{@index}}" class="panel-collapse collapse">
	      <div class="textbox"><h3 class="textbox-title">{{title}}</h3>
				<p class="textbox-content">{{items}}</p>
				<h3 class="textbox-title">Your mood was</h3>
				<i class="{{emoji}}"></i>
				<h3 class="textbox-title">The weather was</h3>
				<i class="{{weather}}"></i>
			  </div>
	    </div>
	 </div>
	 {{/each}}
</div>
				<!-- <div class="textbox" id={{title}}>
					<h4 class="textbox-date">{{date}}</h4>
					<h3 class="textbox-title">{{title}}</h3>
					<p class="textbox-content">{{items}}</p>

					<h3 class="textbox-title">Your mood was</h3>
					<i class="{{emoji}}"></i>

					<h3 class="textbox-title">The weather was</h3>
					<i class="{{weather}}"></i>
				</div> -->
		</div>
		</div>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93150623-1', 'auto');
  ga('send', 'pageview');

</script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/index.js"></script>
		<script src="/js/analytics.js"></script>
		{{> ga}}
	</body>
</html>
